---
import BasicLayout from '../layouts/BasicLayout.astro'; 
import WelcomeCard from '../components/WelcomeCard.astro';
import BasicCard from '../components/BasicCard.astro';
import Footer from '../components/Footer.astro';
import SkillCard from '../components/SkillCard.astro'
---

<BasicLayout title='Andreas Personal "Professional" Profile (MMD2024)' style="src/styles/BasicStyle.css">
    <WelcomeCard imgSrc="/media/me1.webp" imgAlt="It's a me! Andreas, budding webdev and techenthusiast." figCaption="" title="Welcome!">

    </WelcomeCard>
    <BasicCard>
        <h2>Andreas Ekvall-Hofvander</h2>
        <p>Copenhagen-based Swede coding up a storm in Denmark, always eager to learn and seeking opportuinities to apply my skills. On the lookout for an internship to further fuel my passion for web development.</p>    
        <p>In 2023 I embarked on a new journey to change my future. I put down my pots and pans; left the kitchen and switched it all out for keyboards, screens and (sometimes) comfy office-chairs at KEA, studying Multimediadesign.</p>
        <p>Always expanding my Front-end skills by making things; currently diving into Astro and later on during the semester there will be React added to the toolbox.</p>    
        <p>My leisure-time is spent mostly in front of the screen figuring out things and learning, but sometimes there is time for the occasional game or two. If I’m not inside I prefer being outside having a good walk or practicing my flips with my skateboard. Or just being in the backyard grilling up my latest craving.</p>
    </BasicCard>
    <SkillCard />
    <Footer>

    </Footer>
</BasicLayout>

<style>

</style>