---
import BasicLayout from '../layouts/BasicLayout.astro'; 
import BasicCard from '../components/BasicCard.astro';
---

<BasicLayout title="Andreas' Personal Professional Profile (MMD2024)" style="src/styles/BasicStyle.css">
    <BasicCard headerText="Info coming soon!" imgSrc="./media/banana.png" altText="A banana, for whatever reason.">
        <p>Something something, enjoy a banana</p>
    </BasicCard>
</BasicLayout>

<style>

</style>