---
const { altText, imgSrc, headerText, variant } = Astro.props;
---

<section>
    <article>
        <h2>{headerText}</h2>
        <slot/>
    </article>
    <figure>
        <img src={imgSrc} alt={altText}>
        <figcaption></figcaption>
    </figure>
</section>

<style>

</style>