---
---

<footer>
    <p>
        All content subject to change! <strong>Koo®</strong> MMD 2024
    </p>
</footer>

<style>
    footer {
        display: flex;
        grid-column: full-start / -1;
        justify-self: center;
        font-size: smaller;
        height: auto;
    }
</style>